h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

img.column {
  width: 33%;
  float: left;
  background-color: #F7C20E;

}
.column {
   width: 33%;
   float: left;
   background-color: #F7C20E;
   text-align: center;
}

body {
  margin: ;
}

@media screen and (min-width: 480px) {
  body {
    background-color: teal;
  }
}

@media screen and (max-width: 1000px) {
  body {
    background-color: red;
  }
}
